<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Famous Quotes</h1>

    <head><%- include('partials/navbar.ejs')%></head>
    <br>

    <div class="container">
        <% for (let i of rows) { %>
            <%= i.quote %> <br>
                <a href="#" class="authorName" data-authorid="<%= i.authorId %>">
                    <%= i.firstName %>
                     <%= i.lastName %>
                </a> <br> <br>
                <% } %>
    </div>

    <dialog id="authorDialog">
        <div id="authorInfo">
            <button id="close">Close</button>
            <img id="authorPicture" width="300"> <br>
            <h1 id="authorName"></h1>
            <p id="authorProfession"></p>
            <p id="authorCountry"></p>
            <p id="authorDob"></p>
            <p id="authorDod"></p>
            <p id="authorSex"></p>
            <p id="authorBiography"></p>
        </div>
    </dialog>

    <script src="/js/quotes.js"></script>

    <%- include('partials/footer.ejs')%>

</body>

</html>